.u-section-1 .u-sheet-1 {
  min-height: 10px;
}.u-section-2 .u-sheet-1 {
  min-height: 151px;
}

.u-section-2 .u-group-1 {
  min-height: 151px;
  margin-top: 0;
  margin-bottom: -513px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-line-1 {
  height: 107px;
  left: auto;
  top: 19px;
  transform-origin: center top 0px;
  position: absolute;
  width: 6px;
  border-style: solid;
  right: 532px;
}

.u-section-2 .u-group-2 {
  width: 507px;
  min-height: 128px;
  margin: 8px auto 0 42px;
}

.u-section-2 .u-text-1 {
  margin: 0 0 0 83px;
}

.u-section-2 .u-image-1 {
  width: 74px;
  height: 74px;
  margin: -75px auto 0 0;
}

.u-section-2 .u-btn-1 {
  font-family: "Press Start 2P";
  letter-spacing: 2px;
  background-image: none;
  border-style: none;
  font-size: 0.75rem;
  margin: 10px auto 0 0;
}

.u-section-2 .u-btn-2 {
  font-family: "Press Start 2P";
  letter-spacing: 2px;
  background-image: none;
  border-style: none;
  font-size: 0.75rem;
  margin: -39px 0 0 auto;
}

.u-section-2 .u-group-3 {
  width: 437px;
  min-height: 127px;
  margin: -129px 42px 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding-bottom: 21px;
  padding-top: 0;
}

.u-section-2 .u-text-2 {
  margin: 0 0 0 68px;
}

.u-section-2 .u-image-2 {
  width: 58px;
  height: 74px;
  margin: -74px auto 0 0;
}

.u-section-2 .u-btn-3 {
  font-family: "Press Start 2P";
  letter-spacing: 2px;
  background-image: none;
  border-style: none;
  font-size: 0.75rem;
  margin: 9px auto 0 0;
}

.u-section-2 .u-btn-4 {
  font-family: "Press Start 2P";
  letter-spacing: 2px;
  font-size: 0.75rem;
  border-style: none;
  background-image: none;
  margin: -39px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 257px;
  }

  .u-section-2 .u-group-1 {
    min-height: 257px;
    margin-bottom: -407px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-line-1 {
    top: 120px;
    transform-origin: left center 0px;
    width: 863px;
    height: 5px;
  }

  .u-section-2 .u-group-2 {
    width: 900px;
    min-height: 88px;
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 8px;
    margin-right: 318px;
    margin-left: 82px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -82px;
    margin-right: 112px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 10px;
    margin-bottom: -13px;
  }

  .u-section-2 .u-group-3 {
    width: 900px;
    min-height: 101px;
    margin-top: 47px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: 310px;
    margin-left: 81px;
  }

  .u-section-2 .u-image-2 {
    height: 73px;
    margin-top: -62px;
    margin-left: 10px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -80px;
    margin-right: 138px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 11px;
    margin-right: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-line-1 {
    top: 121px;
    width: 678px;
  }

  .u-section-2 .u-group-2 {
    width: 685px;
    min-height: 100px;
    margin-top: 11px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-right: 298px;
    margin-left: 100px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -87px;
    margin-left: 13px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -80px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 9px;
    margin-bottom: 0;
  }

  .u-section-2 .u-group-3 {
    width: 685px;
    margin-top: 25px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 5px;
    margin-right: 294px;
    margin-left: 98px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -92px;
    margin-left: 23px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -75px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 9px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-2 .u-group-1 {
    min-height: 324px;
    margin-bottom: 0;
  }

  .u-section-2 .u-line-1 {
    top: 160px;
    width: 469px;
  }

  .u-section-2 .u-group-2 {
    min-height: 139px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 12px;
    margin-right: 13px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -74px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 12px;
    margin-right: auto;
    margin-left: 13px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -39px;
    margin-right: 13px;
  }

  .u-section-2 .u-group-3 {
    min-height: 138px;
    margin-top: 47px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
    margin-right: 13px;
    margin-left: 94px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -75px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 14px;
    margin-right: auto;
    margin-left: 15px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: -39px;
    margin-right: 56px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-line-1 {
    top: 272px;
    width: 294px;
  }

  .u-section-2 .u-group-2 {
    min-height: 391px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: 100px;
    margin-left: 13px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -187px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -56px;
    margin-right: 54px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 144px;
    margin-right: 19px;
  }

  .u-section-2 .u-group-3 {
    min-height: 173px;
    margin-top: -25px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 21px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -175px;
    margin-left: 28px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -56px;
    margin-right: 83px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 132px;
    margin-right: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 10px;
}.u-section-4 .u-sheet-1 {
  min-height: 158px;
}

.u-section-4 .u-group-1 {
  width: 161px;
  min-height: 34px;
  margin: 10px auto 0 459px;
}

.u-section-4 .u-image-1 {
  width: 46px;
  height: 34px;
  filter: brightness(0.45);
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-1 {
  font-family: "Press Start 2P";
  margin: -27px 0 0 auto;
}

.u-section-4 .u-group-2 {
  width: 548px;
  min-height: 104px;
  margin: 0 auto 0 10px;
}

.u-section-4 .u-image-2 {
  width: 68px;
  height: 68px;
  margin: 4px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-family: "Press Start 2P";
  font-size: 1.25rem;
  margin: -73px auto 0 78px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-3 {
  font-family: Montserrat;
  font-size: 0.875rem;
  margin: 0 20px 0 78px;
}

.u-section-4 .u-group-3 {
  width: 548px;
  min-height: 104px;
  margin: -104px 10px 10px auto;
}

.u-section-4 .u-image-3 {
  width: 68px;
  height: 68px;
  margin: 4px auto 0 0;
}

.u-section-4 .u-text-4 {
  font-family: "Press Start 2P";
  font-size: 1.25rem;
  margin: -73px auto 0 78px;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-5 {
  font-family: Montserrat;
  font-size: 0.875rem;
  margin: 0 20px 0 78px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 173px;
  }

  .u-section-4 .u-group-1 {
    margin-left: 360px;
  }

  .u-section-4 .u-group-2 {
    width: 442px;
  }

  .u-section-4 .u-group-3 {
    width: 443px;
    min-height: 119px;
    margin-right: 27px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-4 .u-group-1 {
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-4 .u-group-2 {
    width: 338px;
    min-height: 141px;
    margin-top: 10px;
    margin-left: 22px;
  }

  .u-section-4 .u-group-3 {
    width: 338px;
    min-height: 195px;
    margin-top: -141px;
    margin-right: 22px;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-4 .u-group-2 {
    width: 520px;
    min-height: 97px;
    margin-left: auto;
  }

  .u-section-4 .u-group-3 {
    width: 520px;
    min-height: 120px;
    margin-top: 7px;
    margin-right: auto;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-right: 96px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-4 .u-group-1 {
    margin-right: auto;
  }

  .u-section-4 .u-group-2 {
    min-height: 119px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-group-3 {
    min-height: 195px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 10px;
}.u-section-6 .u-sheet-1 {
  min-height: 275px;
}

.u-section-6 .u-group-1 {
  width: 202px;
  min-height: 36px;
  margin: 10px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-text-1 {
  font-family: "Press Start 2P";
  margin: 7px 20px 0 auto;
}

.u-section-6 .u-image-1 {
  width: 34px;
  height: 34px;
  filter: brightness(0.45);
  margin: -30px auto 0 0;
}

.u-section-6 .u-group-2 {
  width: 548px;
  min-height: 129px;
  margin: 10px auto 0 10px;
}

.u-section-6 .u-image-2 {
  width: 68px;
  height: 68px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  font-family: "Press Start 2P";
  font-size: 1.25rem;
  margin: -69px auto 0 78px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-text-3 {
  font-family: Montserrat;
  font-size: 0.875rem;
  margin: 0 20px 0 78px;
}

.u-section-6 .u-group-3 {
  width: 548px;
  min-height: 120px;
  margin: -129px 10px 0 auto;
}

.u-section-6 .u-image-3 {
  width: 68px;
  height: 68px;
  margin: 4px auto 0 0;
}

.u-section-6 .u-text-4 {
  font-family: "Press Start 2P";
  font-size: 1.25rem;
  margin: -73px auto 0 78px;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-text-5 {
  font-family: Montserrat;
  font-size: 0.875rem;
  margin: 0 10px 0 78px;
}

.u-section-6 .u-group-4 {
  width: 830px;
  min-height: 70px;
  margin: 19px auto 10px 48px;
}

.u-section-6 .u-text-6 {
  font-family: "Press Start 2P";
  margin: 10px 232px 0 0;
}

.u-section-6 .u-image-4 {
  width: 68px;
  height: 68px;
  margin: -60px 116px 0 auto;
}

.u-section-6 .u-image-5 {
  width: 68px;
  height: 68px;
  margin: -68px 28px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-6 .u-group-2 {
    width: 409px;
    min-height: 183px;
  }

  .u-section-6 .u-group-3 {
    width: 452px;
    min-height: 141px;
    margin-top: -179px;
    margin-right: 18px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
  }

  .u-section-6 .u-group-4 {
    margin-top: 64px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-6 .u-group-1 {
    margin-right: 0;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-left: 38px;
  }

  .u-section-6 .u-group-2 {
    width: 317px;
    min-height: 237px;
    margin-top: 11px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-right: 4px;
  }

  .u-section-6 .u-group-3 {
    width: 336px;
    min-height: 217px;
    margin-top: -237px;
    margin-right: 24px;
  }

  .u-section-6 .u-image-3 {
    margin-top: 0;
  }

  .u-section-6 .u-text-4 {
    margin-top: -69px;
  }

  .u-section-6 .u-group-4 {
    margin-top: 24px;
    margin-bottom: 11px;
    min-height: 85px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-right: 231px;
    margin-left: 42px;
  }

  .u-section-6 .u-image-4 {
    margin-top: -71px;
    margin-right: 130px;
  }

  .u-section-6 .u-image-5 {
    margin-right: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-6 .u-group-1 {
    width: 185px;
    margin-top: 6px;
    margin-right: 21px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-group-2 {
    width: 520px;
    min-height: 129px;
    margin-top: 5px;
    margin-left: auto;
  }

  .u-section-6 .u-group-3 {
    width: 520px;
    min-height: 119px;
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
  }

  .u-section-6 .u-group-4 {
    min-height: 101px;
    width: 498px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-6 {
    margin-top: 0;
    margin-right: 144px;
    margin-left: 0;
  }

  .u-section-6 .u-image-4 {
    margin-top: -84px;
    margin-right: 82px;
  }

  .u-section-6 .u-image-5 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 745px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 9px;
    margin-right: auto;
  }

  .u-section-6 .u-group-2 {
    min-height: 237px;
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-right: 33px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-group-3 {
    min-height: 217px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-5 {
    margin-right: 10px;
  }

  .u-section-6 .u-group-4 {
    margin-top: 28px;
    margin-bottom: 6px;
    min-height: 187px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
  }

  .u-section-6 .u-image-4 {
    margin-top: 7px;
    margin-right: auto;
    margin-left: 88px;
  }

  .u-section-6 .u-image-5 {
    margin-right: 88px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 10px;
}.u-section-8 .u-sheet-1 {
  min-height: 133px;
}

.u-section-8 .u-group-1 {
  min-height: 133px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-text-1 {
  font-family: "Press Start 2P";
  font-size: 1.875rem;
  margin: 8px auto 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.25rem;
  margin: -6px 0 0;
}

.u-section-8 .u-group-2 {
  width: 155px;
  min-height: 34px;
  margin: 2px auto 0 121px;
}

.u-section-8 .u-image-1 {
  width: 34px;
  height: 34px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -34px 0 0 auto;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-group-3 {
  width: 155px;
  min-height: 34px;
  margin: -34px auto 0 362px;
}

.u-section-8 .u-image-2 {
  width: 34px;
  height: 34px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-4 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -34px 31px 0 auto;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-group-4 {
  width: 155px;
  min-height: 32px;
  margin: -31px 379px 0 auto;
}

.u-section-8 .u-text-5 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 15px 0 auto;
}

.u-section-8 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-image-3 {
  width: 34px;
  height: 34px;
  margin: -34px auto 0 0;
}

.u-section-8 .u-group-5 {
  width: 155px;
  min-height: 32px;
  margin: -32px 129px 0 auto;
}

.u-section-8 .u-text-6 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 34px 0 auto;
}

.u-section-8 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-image-4 {
  width: 34px;
  height: 34px;
  margin: -34px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 164px;
  }

  .u-section-8 .u-group-1 {
    min-height: 164px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-left: 39px;
    margin-right: 39px;
  }

  .u-section-8 .u-group-2 {
    margin-top: 5px;
    margin-left: 88px;
  }

  .u-section-8 .u-group-3 {
    margin-left: 315px;
  }

  .u-section-8 .u-group-4 {
    margin-top: -33px;
    margin-right: 270px;
  }

  .u-section-8 .u-group-5 {
    margin-top: -33px;
    margin-right: 58px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 167px;
  }

  .u-section-8 .u-group-1 {
    min-height: 167px;
  }

  .u-section-8 .u-text-2 {
    margin-top: -7px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-8 .u-group-2 {
    margin-top: 6px;
    margin-left: 36px;
  }

  .u-section-8 .u-group-3 {
    margin-left: 218px;
  }

  .u-section-8 .u-group-4 {
    margin-top: -35px;
    margin-right: 185px;
  }

  .u-section-8 .u-group-5 {
    margin-top: -31px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-8 .u-group-1 {
    min-height: 251px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 11px;
    padding-bottom: 14px;
  }

  .u-section-8 .u-text-1 {
    width: 301px;
    margin-top: 2px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 0;
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-8 .u-group-2 {
    margin-top: 5px;
    margin-left: 116px;
  }

  .u-section-8 .u-group-3 {
    margin-top: -30px;
    margin-right: 83px;
    margin-left: auto;
  }

  .u-section-8 .u-group-4 {
    margin-top: 3px;
    margin-right: auto;
    margin-left: 118px;
  }

  .u-section-8 .u-group-5 {
    margin-top: -30px;
    margin-right: 83px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-8 .u-group-1 {
    min-height: 393px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 12px;
    padding-bottom: 0;
  }

  .u-section-8 .u-text-2 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-8 .u-group-2 {
    margin-top: 9px;
    margin-left: 88px;
  }

  .u-section-8 .u-group-3 {
    margin-top: 4px;
    margin-right: auto;
    margin-left: 88px;
  }

  .u-section-8 .u-group-4 {
    margin-top: 5px;
    margin-left: 88px;
  }

  .u-section-8 .u-group-5 {
    margin-top: 6px;
    margin-right: auto;
    margin-left: 87px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 10px;
}.u-section-10 .u-sheet-1 {
  min-height: 142px;
}

.u-section-10 .u-group-1 {
  min-height: 142px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-10 .u-group-2 {
  width: 731px;
  min-height: 98px;
  margin: 22px auto 0 0;
}

.u-section-10 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-10 .u-text-1 {
  font-family: "Press Start 2P";
  font-size: 1.5rem;
  margin: 1px auto 0;
}

.u-section-10 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -6px 0 0;
}

.u-section-10 .u-group-3 {
  width: 331px;
  min-height: 116px;
  margin: -107px 0 0 auto;
}

.u-section-10 .u-image-1 {
  width: 81px;
  height: 81px;
  margin: 0 auto 0 7px;
}

.u-section-10 .u-image-2 {
  width: 80px;
  height: 84px;
  margin: -78px auto 0;
}

.u-section-10 .u-image-3 {
  width: 94px;
  height: 88px;
  margin: -87px 7px 0 auto;
}

.u-section-10 .u-text-3 {
  font-weight: 400;
  margin: 1px auto 0 0;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  font-family: "Press Start 2P";
  padding: 0;
}

.u-section-10 .u-btn-2 {
  background-image: none;
  font-family: "Press Start 2P";
  margin: -26px auto 0;
  padding: 0;
}

.u-section-10 .u-btn-3 {
  background-image: none;
  font-family: "Press Start 2P";
  margin: -26px 11px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 155px;
  }

  .u-section-10 .u-group-1 {
    min-height: 154px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-group-2 {
    width: 505px;
    min-height: 130px;
    margin-top: 12px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-10 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
  }

  .u-section-10 .u-group-3 {
    margin-top: -123px;
    margin-right: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-10 .u-group-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    min-height: 252px;
    width: 720px;
  }

  .u-section-10 .u-container-layout-1 {
    padding: 0 0 15px;
  }

  .u-section-10 .u-group-2 {
    width: 700px;
    min-height: 97px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-10 .u-group-3 {
    margin-top: 12px;
    margin-right: 179px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 272px;
  }

  .u-section-10 .u-group-1 {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 272px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-10 .u-group-2 {
    min-height: 129px;
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-10 .u-text-1 {
    margin-top: 0;
  }

  .u-section-10 .u-text-2 {
    margin-top: 0;
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-10 .u-group-3 {
    margin-top: 9px;
    margin-right: 95px;
  }

  .u-section-10 .u-image-1 {
    margin-right: 243px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-10 .u-group-1 {
    min-height: 324px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-container-layout-1 {
    padding-bottom: 14px;
  }

  .u-section-10 .u-group-2 {
    min-height: 178px;
    width: 316px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-10 .u-text-1 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-10 .u-group-3 {
    width: 317px;
    margin-top: 4px;
    margin-right: auto;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 10px;
}.u-section-12 .u-sheet-1 {
  min-height: 112px;
}

.u-section-12 .u-group-1 {
  width: 596px;
  min-height: 112px;
  margin: 0 auto;
}

.u-section-12 .u-text-1 {
  font-family: "Press Start 2P";
  font-size: 1.875rem;
  width: auto;
  margin: 8px auto 0;
}

.u-section-12 .u-text-2 {
  font-family: Montserrat, sans-serif;
  font-size: 1.25rem;
  margin: -8px 0 0;
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 23px;
  }

  .u-section-12 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 144px;
  }

  .u-section-12 .u-group-1 {
    min-height: 144px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-12 .u-text-1 {
    width: 182px;
    margin-top: 0;
  }

  .u-section-12 .u-text-2 {
    margin-top: 0;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 10px;
}.u-section-14 .u-sheet-1 {
  min-height: 252px;
}

.u-section-14 .u-accordion-1 {
  margin-bottom: -118px;
  margin-top: 0;
}

.u-section-14 .u-accordion-item-1 {
  margin-bottom: 0;
}

.u-section-14 .u-accordion-link-1 {
  font-size: 1.25rem;
}

.u-section-14 .u-icon-1 {
  height: 40px;
  width: 40px;
  background-image: none;
}

.u-section-14 .u-accordion-pane-1 {
  min-height: 128px;
  background-image: none;
}

.u-section-14 .u-container-layout-1 {
  padding: 10px 30px;
}

.u-section-14 .u-group-1 {
  width: 128px;
  min-height: 95px;
  margin: 0 auto 0 0;
}

.u-section-14 .u-image-1 {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.u-section-14 .u-text-1 {
  font-family: "Press Start 2P";
  margin: 0;
}

.u-section-14 .u-btn-1 {
  background-image: none;
  font-family: "Press Start 2P";
  padding: 0;
}

.u-section-14 .u-group-2 {
  width: 128px;
  min-height: 95px;
  margin: -95px auto 0 157px;
}

.u-section-14 .u-image-2 {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.u-section-14 .u-text-2 {
  font-family: "Press Start 2P";
  margin: 0;
}

.u-section-14 .u-btn-2 {
  font-family: "Press Start 2P";
  padding: 0;
}

.u-section-14 .u-group-3 {
  width: 128px;
  min-height: 95px;
  margin: -95px auto 0 317px;
}

.u-section-14 .u-image-3 {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.u-section-14 .u-text-3 {
  font-family: "Press Start 2P";
  margin: 0;
}

.u-section-14 .u-btn-3 {
  font-family: "Press Start 2P";
  padding: 0;
}

.u-section-14 .u-group-4 {
  width: 128px;
  min-height: 95px;
  margin: -95px 468px 0 auto;
}

.u-section-14 .u-image-4 {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.u-section-14 .u-text-4 {
  font-family: "Press Start 2P";
  margin: 0;
}

.u-section-14 .u-btn-4 {
  font-family: "Press Start 2P";
  padding: 0;
}

.u-section-14 .u-group-5 {
  width: 163px;
  min-height: 95px;
  margin: -95px 276px 0 auto;
}

.u-section-14 .u-image-5 {
  width: 70px;
  height: 70px;
  margin: 0 auto 0 37px;
}

.u-section-14 .u-text-5 {
  font-family: "Press Start 2P";
  margin: 0;
}

.u-section-14 .u-btn-5 {
  font-family: "Press Start 2P";
  padding: 0;
}

.u-section-14 .u-group-6 {
  width: 85px;
  min-height: 95px;
  margin: -95px 159px 0 auto;
}

.u-section-14 .u-image-6 {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.u-section-14 .u-text-6 {
  font-family: "Press Start 2P";
  margin: 0 auto;
}

.u-section-14 .u-btn-6 {
  font-family: "Press Start 2P";
  padding: 0;
}

.u-section-14 .u-group-7 {
  width: 128px;
  min-height: 95px;
  margin: -94px 3px 0 auto;
}

.u-section-14 .u-image-7 {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.u-section-14 .u-text-7 {
  font-family: "Press Start 2P";
  margin: 0;
}

.u-section-14 .u-btn-7 {
  font-family: "Press Start 2P";
  padding: 0;
}

.u-section-14 .u-accordion-item-2 {
  margin-bottom: 0;
}

.u-section-14 .u-accordion-link-2 {
  font-size: 1.25rem;
}

.u-section-14 .u-icon-2 {
  height: 40px;
  width: 40px;
  background-image: none;
}

.u-section-14 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-14 .u-container-layout-9 {
  padding: 10px 30px;
}

.u-section-14 .u-group-8 {
  width: 149px;
  min-height: 95px;
  margin: 11px auto 0 85px;
}

.u-section-14 .u-image-8 {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.u-section-14 .u-text-8 {
  font-family: "Press Start 2P";
  margin: 0;
}

.u-section-14 .u-btn-8 {
  font-family: "Press Start 2P";
  padding: 0;
}

.u-section-14 .u-group-9 {
  width: 128px;
  min-height: 95px;
  margin: -96px auto 0 281px;
}

.u-section-14 .u-image-9 {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.u-section-14 .u-text-9 {
  font-family: "Press Start 2P";
  margin: 0;
}

.u-section-14 .u-btn-9 {
  font-family: "Press Start 2P";
  padding: 0;
}

.u-section-14 .u-group-10 {
  width: 128px;
  min-height: 95px;
  margin: -95px auto 0 462px;
}

.u-section-14 .u-image-10 {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.u-section-14 .u-text-10 {
  font-family: "Press Start 2P";
  margin: 0;
}

.u-section-14 .u-btn-10 {
  font-family: "Press Start 2P";
  padding: 0;
}

.u-section-14 .u-group-11 {
  width: 128px;
  min-height: 95px;
  margin: -95px 296px 0 auto;
}

.u-section-14 .u-image-11 {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.u-section-14 .u-text-11 {
  font-family: "Press Start 2P";
  margin: 0;
}

.u-section-14 .u-btn-11 {
  font-family: "Press Start 2P";
  padding: 0;
}

.u-section-14 .u-group-12 {
  width: 163px;
  min-height: 95px;
  margin: -95px 69px 0 auto;
}

.u-section-14 .u-image-12 {
  width: 70px;
  height: 70px;
  margin: 0 auto 0 24px;
}

.u-section-14 .u-text-12 {
  font-family: "Press Start 2P";
  margin: 0;
}

.u-section-14 .u-btn-12 {
  font-family: "Press Start 2P";
  padding: 0;
}

.u-section-14 .u-accordion-item-3 {
  margin-bottom: 0;
}

.u-section-14 .u-accordion-link-3 {
  font-size: 1.25rem;
}

.u-section-14 .u-icon-3 {
  height: 40px;
  width: 40px;
  background-image: none;
}

.u-section-14 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-14 .u-container-layout-15 {
  padding: 10px 30px;
}

.u-section-14 .u-group-13 {
  width: 149px;
  min-height: 95px;
  margin: 11px auto 0 85px;
}

.u-section-14 .u-image-13 {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.u-section-14 .u-text-13 {
  font-family: "Press Start 2P";
  margin: 0;
}

.u-section-14 .u-btn-13 {
  font-family: "Press Start 2P";
  padding: 0;
}

.u-section-14 .u-group-14 {
  width: 128px;
  min-height: 95px;
  margin: -96px auto 0 281px;
}

.u-section-14 .u-image-14 {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.u-section-14 .u-text-14 {
  font-family: "Press Start 2P";
  margin: 0;
}

.u-section-14 .u-btn-14 {
  font-family: "Press Start 2P";
  padding: 0;
}

.u-section-14 .u-group-15 {
  width: 128px;
  min-height: 95px;
  margin: -95px auto 0 462px;
}

.u-section-14 .u-image-15 {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.u-section-14 .u-text-15 {
  font-family: "Press Start 2P";
  margin: 0;
}

.u-section-14 .u-btn-15 {
  font-family: "Press Start 2P";
  padding: 0;
}

.u-section-14 .u-group-16 {
  width: 128px;
  min-height: 95px;
  margin: -95px 296px 0 auto;
}

.u-section-14 .u-image-16 {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.u-section-14 .u-text-16 {
  font-family: "Press Start 2P";
  margin: 0;
}

.u-section-14 .u-btn-16 {
  font-family: "Press Start 2P";
  padding: 0;
}

.u-section-14 .u-group-17 {
  width: 163px;
  min-height: 95px;
  margin: -95px 69px 0 auto;
}

.u-section-14 .u-image-17 {
  width: 70px;
  height: 70px;
  margin: 0 auto 0 24px;
}

.u-section-14 .u-text-17 {
  font-family: "Press Start 2P";
  margin: 0;
}

.u-section-14 .u-btn-17 {
  font-family: "Press Start 2P";
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-accordion-1 {
    margin-bottom: -315px;
  }

  .u-section-14 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-14 .u-group-1 {
    margin-top: -6px;
    margin-left: 208px;
  }

  .u-section-14 .u-group-2 {
    margin-right: 358px;
    margin-left: auto;
  }

  .u-section-14 .u-group-3 {
    margin-right: 182px;
    margin-left: auto;
  }

  .u-section-14 .u-text-3 {
    width: auto;
  }

  .u-section-14 .u-group-4 {
    margin-top: 19px;
    margin-right: auto;
    margin-left: 153px;
  }

  .u-section-14 .u-group-5 {
    width: 165px;
    margin-right: auto;
    margin-left: 316px;
  }

  .u-section-14 .u-group-6 {
    margin-right: 268px;
  }

  .u-section-14 .u-group-7 {
    margin-top: -95px;
    margin-right: 121px;
  }

  .u-section-14 .u-accordion-pane-2 {
    min-height: 135px;
    height: auto;
  }

  .u-section-14 .u-container-layout-9 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-14 .u-group-8 {
    margin-top: 13px;
    margin-left: 24px;
  }

  .u-section-14 .u-group-9 {
    margin-left: 197px;
  }

  .u-section-14 .u-group-10 {
    margin-left: 369px;
  }

  .u-section-14 .u-group-11 {
    margin-right: 206px;
  }

  .u-section-14 .u-group-12 {
    margin-right: 9px;
  }

  .u-section-14 .u-image-12 {
    margin-left: 31px;
  }

  .u-section-14 .u-group-13 {
    margin-left: 25px;
  }

  .u-section-14 .u-group-14 {
    margin-left: 204px;
  }

  .u-section-14 .u-group-15 {
    margin-right: 363px;
    margin-left: auto;
  }

  .u-section-14 .u-group-16 {
    margin-right: 193px;
  }

  .u-section-14 .u-group-17 {
    margin-right: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-accordion-1 {
    margin-bottom: -352px;
  }

  .u-section-14 .u-accordion-pane-1 {
    min-height: 225px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .u-section-14 .u-group-1 {
    margin-top: 0;
    margin-left: 80px;
  }

  .u-section-14 .u-group-2 {
    margin-right: 256px;
  }

  .u-section-14 .u-group-3 {
    margin-top: -96px;
    margin-right: 78px;
  }

  .u-section-14 .u-group-4 {
    margin-top: 12px;
    margin-left: 23px;
  }

  .u-section-14 .u-group-5 {
    width: 163px;
    margin-top: -96px;
    margin-left: 187px;
  }

  .u-section-14 .u-group-6 {
    margin-top: -96px;
    margin-right: 178px;
  }

  .u-section-14 .u-group-7 {
    margin-top: -94px;
    margin-right: 20px;
  }

  .u-section-14 .u-accordion-pane-2 {
    min-height: 225px;
  }

  .u-section-14 .u-container-layout-9 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-14 .u-group-8 {
    margin-left: 77px;
  }

  .u-section-14 .u-group-9 {
    margin-right: 248px;
    margin-left: auto;
  }

  .u-section-14 .u-group-10 {
    margin-right: 70px;
    margin-left: auto;
  }

  .u-section-14 .u-group-11 {
    margin-top: 4px;
    margin-right: auto;
    margin-left: 167px;
  }

  .u-section-14 .u-group-12 {
    margin-right: 132px;
  }

  .u-section-14 .u-accordion-pane-3 {
    min-height: 244px;
    height: auto;
  }

  .u-section-14 .u-group-13 {
    margin-top: 2px;
    margin-left: 45px;
  }

  .u-section-14 .u-group-14 {
    margin-top: -94px;
    margin-right: 257px;
    margin-left: auto;
  }

  .u-section-14 .u-group-15 {
    margin-right: 47px;
  }

  .u-section-14 .u-group-16 {
    margin-top: 21px;
    margin-right: auto;
    margin-left: 146px;
  }

  .u-section-14 .u-group-17 {
    margin-right: 116px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-accordion-1 {
    margin-bottom: -128px;
  }

  .u-section-14 .u-accordion-pane-1 {
    min-height: 224px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-group-1 {
    margin-top: 4px;
    margin-left: 30px;
  }

  .u-section-14 .u-group-2 {
    margin-top: -96px;
    margin-right: auto;
    margin-left: 184px;
  }

  .u-section-14 .u-group-3 {
    margin-top: -95px;
    margin-right: 26px;
  }

  .u-section-14 .u-group-4 {
    margin-top: 8px;
    margin-left: 2px;
  }

  .u-section-14 .u-group-5 {
    margin-left: 136px;
  }

  .u-section-14 .u-group-6 {
    margin-top: -95px;
    margin-right: 131px;
  }

  .u-section-14 .u-group-7 {
    margin-top: -95px;
    margin-right: 3px;
  }

  .u-section-14 .u-accordion-pane-2 {
    min-height: 224px;
  }

  .u-section-14 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-group-8 {
    margin-top: 0;
    margin-left: 21px;
  }

  .u-section-14 .u-group-9 {
    margin-top: -95px;
    margin-right: 182px;
  }

  .u-section-14 .u-group-10 {
    margin-right: 13px;
  }

  .u-section-14 .u-group-11 {
    margin-top: 16px;
    margin-left: 93px;
  }

  .u-section-14 .u-group-12 {
    margin-right: 66px;
  }

  .u-section-14 .u-accordion-pane-3 {
    min-height: 224px;
  }

  .u-section-14 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-group-13 {
    margin-left: 20px;
  }

  .u-section-14 .u-group-14 {
    margin-top: -95px;
    margin-right: auto;
    margin-left: 189px;
  }

  .u-section-14 .u-group-15 {
    margin-right: 28px;
  }

  .u-section-14 .u-group-16 {
    margin-top: 5px;
    margin-left: 109px;
  }

  .u-section-14 .u-group-17 {
    margin-top: -96px;
    margin-right: 71px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-14 .u-accordion-1 {
    margin-bottom: 3px;
  }

  .u-section-14 .u-accordion-pane-1 {
    min-height: 326px;
  }

  .u-section-14 .u-container-layout-1 {
    padding: 1px 2px;
  }

  .u-section-14 .u-group-1 {
    margin-top: 9px;
    margin-left: 26px;
  }

  .u-section-14 .u-group-2 {
    margin-top: -95px;
    margin-right: 19px;
    margin-left: auto;
  }

  .u-section-14 .u-group-3 {
    margin-top: 19px;
    margin-right: auto;
    margin-left: 19px;
  }

  .u-section-14 .u-group-4 {
    margin-top: -96px;
    margin-right: 18px;
    margin-left: auto;
  }

  .u-section-14 .u-group-5 {
    margin-top: 20px;
    margin-left: 11px;
  }

  .u-section-14 .u-group-6 {
    margin-right: 41px;
  }

  .u-section-14 .u-group-7 {
    margin-top: 13px;
    margin-right: auto;
  }

  .u-section-14 .u-accordion-pane-2 {
    min-height: 326px;
  }

  .u-section-14 .u-container-layout-9 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-14 .u-group-8 {
    margin-top: 8px;
    margin-left: 8px;
  }

  .u-section-14 .u-group-9 {
    margin-right: 12px;
  }

  .u-section-14 .u-group-10 {
    margin-top: 14px;
    margin-right: auto;
    margin-left: 16px;
  }

  .u-section-14 .u-group-11 {
    margin-top: -97px;
    margin-right: 8px;
    margin-left: auto;
  }

  .u-section-14 .u-group-12 {
    margin-top: 13px;
    margin-right: 52px;
  }

  .u-section-14 .u-accordion-pane-3 {
    min-height: 326px;
  }

  .u-section-14 .u-container-layout-15 {
    padding: 9px 3px;
  }

  .u-section-14 .u-group-13 {
    margin-top: 3px;
    margin-left: 19px;
  }

  .u-section-14 .u-group-14 {
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-14 .u-group-15 {
    margin-top: 7px;
    margin-right: auto;
    margin-left: 30px;
  }

  .u-section-14 .u-group-16 {
    margin-top: -95px;
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-14 .u-group-17 {
    margin-top: 5px;
    margin-right: 55px;
  }
}