.u-section-1 .u-sheet-1 {
  min-height: 237px;
}

.u-section-1 .u-group-1 {
  width: 1100px;
  background-image: none;
  min-height: 217px;
  height: auto;
  margin: 10px auto;
}

.u-section-1 .u-container-layout-1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 1rem;
  padding: 0 10px;
}

.u-section-1 .u-text-1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 1rem;
}

.u-section-1 .u-image-1 {
  width: 222px;
  height: 162px;
  filter: brightness(0.5);
  margin: 28px 10px 0 auto;
}

.u-section-1 .u-group-2 {
  width: 842px;
  height: auto;
  min-height: 81px;
  margin: -76px auto 0 10px;
}

.u-section-1 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-family: "Press Start 2P";
  margin: 30px auto 60px;
}

.u-section-1 .u-btn-1 {
  font-family: "Press Start 2P";
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-family: "Press Start 2P";
  font-size: 1rem;
  margin: 162px 43px 60px auto;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  margin: 35px -176px 0 106px;
}

.u-section-1 .u-btn-3 {
  font-family: "Press Start 2P";
  margin: -75px auto 0 106px;
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 81px;
  height: 81px;
  margin: -35px auto 0 0;
}

.u-section-1 .u-group-3 {
  width: 658px;
  min-height: 108px;
  height: auto;
  margin: -181px auto 0 10px;
}

.u-section-1 .u-container-layout-3 {
  padding-bottom: 30px;
}

.u-section-1 .u-btn-4 {
  font-family: "Press Start 2P";
  font-size: 1rem;
  margin: -630px 75px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  font-family: "Press Start 2P";
  margin: 3px auto 0 106px;
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 81px;
  height: 81px;
  margin: -28px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  margin: -53px auto 0 106px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 238px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: -19px;
    min-height: 218px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 25px;
    margin-right: 13px;
  }

  .u-section-1 .u-group-2 {
    width: 658px;
    min-height: 119px;
    margin-top: -93px;
    margin-left: 13px;
    height: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 38px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -100px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -25px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -203px;
    margin-left: 13px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 10px;
    min-height: 275px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-family: "Press Start 2P";
    width: auto;
    margin: 20px auto 0 332px;
  }

  .u-section-1 .u-image-1 {
    width: 46px;
    height: 33px;
    margin-top: -33px;
    margin-right: auto;
    margin-left: 277px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 99px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 13px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -205px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-1 .u-group-1 {
    min-height: 338px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 249px;
  }

  .u-section-1 .u-image-1 {
    height: 34px;
    margin-top: -32px;
    margin-left: 193px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 136px;
    min-height: 132px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 41px;
    margin-right: 24px;
    margin-left: 122px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -128px;
    margin-left: 25px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 13px;
    margin-left: 25px;
  }

  .u-section-1 .u-group-3 {
    min-height: 158px;
    width: 539px;
    margin-top: -256px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 0;
    margin-left: 30px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 13px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -91px;
    margin-right: 69px;
    margin-left: 119px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: -95px;
    min-height: 514px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    width: auto;
    font-family: "Press Start 2P";
    font-style: italic;
    font-size: 1.25rem;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 5px 69px 0 auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 13px;
    margin-right: 85px;
    margin-left: 143px;
  }

  .u-section-1 .u-image-1 {
    width: 49px;
    height: 36px;
    margin-top: -36px;
    margin-left: 85px;
  }

  .u-section-1 .u-group-2 {
    min-height: 240px;
    margin-top: 218px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 23px;
    margin-bottom: 0;
    margin-left: 16px;
  }

  .u-section-1 .u-btn-2 {
    margin: 0 46px 0 102px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 15px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -288px;
    margin-left: -48px;
    margin-right: -48px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -231px;
    margin-left: 21px;
  }

  .u-section-1 .u-group-3 {
    min-height: 210px;
    width: 342px;
    margin-top: -458px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 3px;
    padding-top: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 21px;
    margin-right: 80px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 6px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: -71px;
    margin-left: 21px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 0;
    margin-left: 21px;
    margin-right: 21px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 361px;
}

.u-section-2 .u-group-1 {
  width: 1100px;
  background-image: none;
  min-height: 341px;
  margin: -118px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-family: "Open Sans", sans-serif;
}

.u-section-2 .u-image-1 {
  width: 162px;
  height: 162px;
  filter: brightness(0.5);
  margin: 80px 46px 0 auto;
}

.u-section-2 .u-group-2 {
  width: 815px;
  min-height: 80px;
  margin: -221px auto 0 20px;
}

.u-section-2 .u-container-layout-2 {
  padding-top: 0;
}

.u-section-2 .u-image-2 {
  width: 81px;
  height: 80px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-family: "Press Start 2P";
  margin: -80px 74px 0 auto;
}

.u-section-2 .u-btn-1 {
  font-family: "Press Start 2P";
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-family: "Press Start 2P";
  margin: 30px auto 35px;
}

.u-section-2 .u-btn-2 {
  font-family: "Press Start 2P";
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-family: "Press Start 2P";
  width: auto;
  margin: 20px auto 60px 0;
}

.u-section-2 .u-btn-3 {
  font-family: "Press Start 2P";
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-family: Montserrat, sans-serif;
  margin: 3px 0 0 101px;
}

.u-section-2 .u-group-3 {
  width: 812px;
  min-height: 112px;
  margin: 20px auto 0 20px;
}

.u-section-2 .u-container-layout-3 {
  padding-bottom: 30px;
}

.u-section-2 .u-text-6 {
  font-family: Montserrat, sans-serif;
  margin: 37px 0 0 107px;
}

.u-section-2 .u-btn-4 {
  font-family: "Press Start 2P";
  margin: -215px 32px 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  font-family: "Press Start 2P";
  margin: -102px auto 0 107px;
  padding: 0;
}

.u-section-2 .u-image-3 {
  width: 81px;
  height: 81px;
  margin: -35px auto 0 0;
}

.u-section-2 .u-group-4 {
  width: 817px;
  min-height: 84px;
  margin: 9px auto 0 20px;
}

.u-section-2 .u-container-layout-4 {
  padding-bottom: 0;
}

.u-section-2 .u-text-7 {
  font-family: "Press Start 2P";
  margin: 17px 171px 0 0;
}

.u-section-2 .u-image-4 {
  width: 84px;
  left: auto;
  right: 94px;
}

.u-section-2 .u-image-5 {
  width: 84px;
  height: 84px;
  margin: -67px auto 0 733px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-2 .u-group-1 {
    min-height: 349px;
    margin-top: -114px;
    margin-bottom: -114px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
    margin-right: 20px;
  }

  .u-section-2 .u-group-2 {
    margin-top: -219px;
    margin-left: 17px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 17px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-6 {
    width: 598px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-4 {
    margin-top: 26px;
    margin-left: 23px;
  }

  .u-section-2 .u-image-5 {
    margin-bottom: -17px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-2 .u-group-1 {
    min-height: 515px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 9px;
  }

  .u-section-2 .u-text-1 {
    font-family: "Press Start 2P";
    width: auto;
    margin: 24px auto 0 318px;
  }

  .u-section-2 .u-image-1 {
    width: 46px;
    height: 46px;
    margin-top: -35px;
    margin-right: auto;
    margin-left: 258px;
  }

  .u-section-2 .u-group-2 {
    min-height: 223px;
    width: 720px;
    margin-top: 18px;
    margin-right: -3px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    margin-left: 14px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: -41px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 121px;
  }

  .u-section-2 .u-text-4 {
    margin-bottom: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -20px;
    margin-right: 74px;
    margin-left: 121px;
  }

  .u-section-2 .u-group-3 {
    width: 684px;
    min-height: 220px;
    margin-top: -79px;
    margin-left: auto;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 24px;
    margin-left: 107px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: -100px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -25px;
  }

  .u-section-2 .u-group-4 {
    margin-top: -104px;
    min-height: 168px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 14px;
    margin-left: 37px;
    margin-right: 37px;
  }

  .u-section-2 .u-image-4 {
    height: 84px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 10px auto 0 252px;
  }

  .u-section-2 .u-image-5 {
    margin: -84px 283px -14px auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-2 .u-group-1 {
    min-height: 597px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 27px;
    margin-left: 227px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 169px;
  }

  .u-section-2 .u-group-2 {
    min-height: 264px;
    margin-top: 3px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: 59px;
    margin-left: 24px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -133px;
    margin-right: 140px;
    margin-left: 14px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 3px;
    margin-left: 32px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -14px;
    margin-right: 26px;
    margin-left: 120px;
  }

  .u-section-2 .u-group-3 {
    min-height: 175px;
    margin-top: -108px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: 42px;
    margin-right: 15px;
    margin-left: 127px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: -160px;
    margin-left: 32px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 32px;
    margin-left: 21px;
  }

  .u-section-2 .u-group-4 {
    min-height: 194px;
    margin-top: 3px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    margin-left: 45px;
    margin-right: 45px;
  }

  .u-section-2 .u-image-4 {
    margin-left: 168px;
  }

  .u-section-2 .u-image-5 {
    margin-right: 158px;
    margin-bottom: -17px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-2 .u-group-1 {
    min-height: 784px;
    margin-bottom: -162px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 18px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 24px;
    margin-right: 69px;
    margin-left: 127px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 69px;
  }

  .u-section-2 .u-group-2 {
    min-height: 217px;
    margin-top: 6px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    margin-top: 0;
    margin-left: 26px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 113px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: -178px;
    margin-right: 11px;
    margin-left: 112px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 27px;
    margin-right: 32px;
    margin-left: 21px;
  }

  .u-section-2 .u-group-3 {
    min-height: 235px;
    margin-top: 12px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
    padding-top: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 82px;
    margin-right: 10px;
    margin-left: 26px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: -400px;
    margin-right: -28px;
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    margin-top: -66px;
    margin-left: 26px;
  }

  .u-section-2 .u-group-4 {
    margin-top: 5px;
    margin-bottom: -11px;
    min-height: 244px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 12px;
    padding-top: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 0;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-2 .u-image-4 {
    margin-left: 70px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -82px;
    margin-right: 70px;
    margin-bottom: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 134px;
}

.u-section-3 .u-group-1 {
  width: 1100px;
  background-image: none;
  min-height: 114px;
  margin: 10px auto;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 23px;
  padding-right: 23px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-family: "Press Start 2P";
  font-size: 1.875rem;
  letter-spacing: 5px;
  background-image: none;
  margin: 11px 74px 0 auto;
  padding: 22px 64px;
}

.u-section-3 .u-text-1 {
  font-family: Montserrat, sans-serif;
  margin: -83px 576px 0 74px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 940px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-right: 490px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 183px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 264px;
}

.u-section-4 .u-group-1 {
  width: 1100px;
  background-image: none;
  min-height: 241px;
  margin: 12px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 1px 30px;
}

.u-section-4 .u-text-1 {
  font-family: "Press Start 2P";
  font-size: 1.875rem;
  margin: 0 631px 0 80px;
}

.u-section-4 .u-group-2 {
  width: 286px;
  min-height: 87px;
  margin: -4px auto 0 110px;
}

.u-section-4 .u-image-1 {
  width: 66px;
  height: 67px;
  margin: 10px auto 0 0;
}

.u-section-4 .u-image-2 {
  width: 86px;
  left: auto;
  right: 6px;
}

.u-section-4 .u-image-3 {
  width: 70px;
  height: 70px;
  margin: -71px auto 0 98px;
}

.u-section-4 .u-text-2 {
  font-family: "Press Start 2P";
  font-size: 1.875rem;
  margin: -131px 74px 0 569px;
}

.u-section-4 .u-image-4 {
  width: 70px;
  height: 65px;
  margin: 4px 144px 0 auto;
}

.u-section-4 .u-image-5 {
  width: 82px;
  height: 82px;
  margin: -73px 344px 0 auto;
}

.u-section-4 .u-image-6 {
  width: 74px;
  height: 76px;
  margin: -76px 247px 0 auto;
}

.u-section-4 .u-text-3 {
  font-family: Montserrat, sans-serif;
  margin: 7px 631px 0 74px;
}

.u-section-4 .u-text-4 {
  font-family: Montserrat, sans-serif;
  margin: -75px 19px 0 491px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 940px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 551px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 483px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 545px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 349px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 331px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 110px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 325px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-right: 325px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 191px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 185px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 185px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-group-2 {
    margin-left: 34px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 34px;
  }

  .u-section-4 .u-image-5 {
    margin-right: 238px;
  }

  .u-section-4 .u-image-6 {
    margin-top: 20px;
    margin-right: 238px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }
}