.u-section-1 .u-sheet-1 {
  min-height: 10px;
}.u-section-2 .u-sheet-1 {
  min-height: 460px;
}

.u-section-2 .u-group-1 {
  min-height: 460px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 14px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  width: 665px;
  font-weight: 700;
  font-style: italic;
  font-family: Montserrat, sans-serif;
  margin: 0 auto;
}

.u-section-2 .u-video-1 {
  width: 540px;
  height: 304px;
  margin: 0 auto;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-text-2 {
  font-family: "Press Start 2P";
  margin: 12px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-2 {
    width: 837px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 660px;
  }

  .u-section-2 .u-text-2 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    min-height: 414px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: 520px;
  }

  .u-section-2 .u-video-1 {
    width: 520px;
    height: 293px;
  }

  .u-section-2 .u-text-2 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    min-height: 328px;
  }

  .u-section-2 .u-text-1 {
    width: 320px;
  }

  .u-section-2 .u-video-1 {
    width: 320px;
    height: 180px;
  }

  .u-section-2 .u-text-2 {
    width: 320px;
    font-family: Montserrat, sans-serif;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 10px;
}.u-section-4 .u-sheet-1 {
  min-height: 571px;
}

.u-section-4 .u-group-1 {
  min-height: 342px;
  height: auto;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
}

.u-section-4 .u-text-1 {
  font-family: "Press Start 2P";
  font-size: 3rem;
  width: 837px;
  margin: 10px auto 0;
}

.u-section-4 .u-table-1 {
  width: 430px;
  margin: 32px auto 0 309px;
}

.u-block-c1f5-17 {
  height: 46px;
}

.u-section-4 .u-table-body-1 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-4 .u-table-cell-1 {
  background-image: none;
}

.u-section-4 .u-table-cell-3 {
  background-image: none;
}

.u-block-c1f5-29 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    width: 660px;
  }

  .u-section-4 .u-table-1 {
    margin-left: 230px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 343px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 16px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: 520px;
  }

  .u-section-4 .u-table-1 {
    margin-left: 90px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-4 .u-text-1 {
    width: 320px;
    margin-top: 25px;
  }

  .u-section-4 .u-table-1 {
    width: 320px;
    margin-left: 0;
  }
}