.u-section-1 {
  background-image: linear-gradient(#1a1a1a, #0ca81a);
}

.u-section-1 .u-sheet-1 {
  min-height: 896px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 168px;
  margin: 8px auto 0;
}

.u-section-1 .u-image-2 {
  width: 150px;
  height: 150px;
  margin: 26px 452px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 150px;
  height: 150px;
  margin: -150px 270px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 108px;
  height: 101px;
  margin: -125px auto 0 285px;
}

.u-section-1 .u-text-1 {
  font-family: "Press Start 2P";
  font-size: 1.25rem;
  margin: 51px 457px 0 auto;
}

.u-section-1 .u-text-2 {
  font-family: "Press Start 2P";
  font-size: 1.25rem;
  margin: -44px 255px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-2 {
    margin-right: 372px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 185px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 25px;
    margin-right: 382px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 170px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    margin-top: 17px;
    margin-right: 262px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 83px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 171px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 42px;
    margin-right: 262px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 68px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 159px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 95px;
    margin-right: auto;
    margin-left: 66px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 79px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -245px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 154px;
    margin-right: auto;
    margin-left: 76px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 64px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 100px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 129px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: -271px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 190px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: -10px;
  }
}