.u-section-1 .u-sheet-1 {
  min-height: 592px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 168px;
  margin: 10px 276px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 126px;
  height: 95px;
  margin: 11px 978px 0 36px;
}

.u-section-1 .u-text-1 {
  font-family: "Press Start 2P";
  font-size: 1.25rem;
  text-shadow: 0 0 8px rgba(128,128,128,1);
  margin: -57px 603px 0 294px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 100px;
  height: 99px;
  margin: -60px auto 0 183px;
}

.u-section-1 .u-image-4 {
  width: 100px;
  height: 99px;
  margin: -99px 290px 0 auto;
}

.u-section-1 .u-text-2 {
  font-family: "Press Start 2P";
  font-size: 1.25rem;
  margin: -73px 100px 0 860px;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  width: 100px;
  height: 100px;
  margin: 50px auto 0 183px;
}

.u-section-1 .u-image-6 {
  width: 100px;
  height: 99px;
  margin: -104px 290px 0 auto;
}

.u-section-1 .u-image-7 {
  width: 120px;
  height: 124px;
  margin: -107px auto 0 39px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-family: "Press Start 2P";
  margin: -84px auto 0 294px;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-family: "Press Start 2P";
  font-size: 1.25rem;
  margin: -48px 91px 0 860px;
}

.u-section-1 .u-btn-4 {
  padding: 0;
}

.u-section-1 .u-line-1 {
  height: 3px;
  transform-origin: right center 0px;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  font-family: "Press Start 2P";
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,1);
  border-style: none;
  margin: 20px 43px 0 900px;
  padding: 21px 28px 22px 26px;
}

.u-section-1 .u-text-5 {
  font-family: "Press Start 2P";
  font-size: 1.125rem;
  margin: -63px 260px 0 55px;
}

.u-section-1 .u-line-2 {
  height: 3px;
  transform-origin: right center 0px;
  margin-top: 33px;
  margin-bottom: 38px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 19px;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 12px;
    margin-right: auto;
    margin-left: -13px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -67px;
    margin-right: 503px;
    margin-left: 207px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -71px;
    margin-left: 107px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -101px;
    margin-right: 193px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -66px;
    margin-right: 0;
    margin-left: 760px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 35px;
    margin-left: 113px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -99px;
    margin-right: 193px;
  }

  .u-section-1 .u-image-7 {
    margin-left: -13px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -83px;
    margin-left: 207px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -67px;
    margin-right: 0;
    margin-left: 751px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 19px;
    margin-right: auto;
    margin-left: 733px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -65px;
    margin-right: 254px;
    margin-left: 11px;
  }

  .u-section-1 .u-line-2 {
    margin-top: 34px;
    margin-bottom: 32px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 14px;
    margin-left: -20px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -71px;
    margin-right: 331px;
    margin-left: 236px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -69px;
    margin-left: 129px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 190px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -71px;
    margin-left: 540px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 71px;
    margin-left: 129px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 4px;
    margin-right: auto;
    margin-left: 129px;
  }

  .u-section-1 .u-image-7 {
    margin-top: -170px;
    margin-left: -11px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -129px;
    margin-right: 16px;
    margin-left: 243px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 71px;
    margin-left: 207px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 50px;
    margin-right: 37px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: -91px;
    margin-right: 301px;
    margin-left: 30px;
  }

  .u-section-1 .u-line-2 {
    margin-top: 23px;
    margin-bottom: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 874px;
  }

  .u-section-1 .u-image-1 {
    height: 159px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 53px;
    margin-left: -25px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -95px;
    margin-right: 44px;
    margin-left: 240px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -60px;
    margin-left: 120px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 120px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -60px;
    margin-right: -20px;
    margin-left: 240px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 78px;
    margin-left: 120px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 0;
    margin-left: 120px;
  }

  .u-section-1 .u-image-7 {
    margin-top: -163px;
    margin-left: -19px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -147px;
    margin-right: 18px;
    margin-left: 240px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 56px;
    margin-right: 56px;
    margin-left: 252px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 48px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 38px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -92px;
    margin-right: 191px;
    margin-left: 0;
  }

  .u-section-1 .u-line-2 {
    margin-top: 20px;
    margin-bottom: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1471px;
  }

  .u-section-1 .u-image-1 {
    height: 100px;
    margin-top: 22px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    margin-top: 14px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 28px;
    margin-right: 48px;
    margin-left: 140px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-image-3 {
    margin-top: -71px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: 10px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -81px;
    margin-right: 10px;
    margin-left: 110px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 195px;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-image-7 {
    margin-top: -362px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 31px;
    margin-right: 0;
    margin-left: 98px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 47px;
    margin-right: -9px;
    margin-left: 107px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-top: 52px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 16px;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-line-2 {
    margin-top: 22px;
    margin-bottom: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 140px;
}

.u-section-2 .u-text-1 {
  font-family: "Press Start 2P";
  font-size: 1.875rem;
  margin: 0 770px 0 70px;
}

.u-section-2 .u-text-2 {
  font-family: "Press Start 2P";
  font-size: 1.875rem;
  margin: -33px 43px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 65px;
  height: 67px;
  margin: 11px 166px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 68px;
  height: 68px;
  margin: -70px 252px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 76px;
  height: 77px;
  margin: -73px auto 0 276px;
}

.u-section-2 .u-image-4 {
  width: 75px;
  height: 82px;
  margin: -77px auto 0 183px;
}

.u-section-2 .u-image-5 {
  width: 57px;
  height: 59px;
  animation-duration: 1000ms;
  margin: -73px auto 0 100px;
}

.u-section-2 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 30px 0 60px 100px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 640px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: 390px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 10px;
    margin-right: 142px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 226px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -75px;
    margin-left: 195px;
  }

  .u-section-2 .u-image-4 {
    margin-left: 117px;
  }

  .u-section-2 .u-image-5 {
    margin-left: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 374px;
    margin-left: 46px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 59px;
    margin-right: auto;
    margin-left: 9px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -49px;
    margin-right: 83px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -68px;
    margin-right: 168px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -164px;
    margin-left: 505px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -80px;
    margin-right: 44px;
    margin-left: auto;
  }

  .u-section-2 .u-image-5 {
    margin-top: -71px;
    margin-right: 243px;
    margin-left: auto;
  }

  .u-section-2 .u-line-1 {
    height: 3px;
    margin-top: 12px;
    transform-origin: left center 0px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: -12px;
    margin-right: 256px;
    margin-left: -16px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 33px;
    margin-left: -16px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -50px;
    margin-right: 11px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -67px;
    margin-right: 75px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -138px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-image-4 {
    margin-right: 72px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -75px;
    margin-right: 156px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: -332px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 139px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 16px;
    margin-right: 102px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -75px;
    margin-right: auto;
    margin-left: 86px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -225px;
    margin-right: 26px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -76px;
    margin-right: auto;
  }

  .u-section-2 .u-image-5 {
    margin-top: -74px;
    margin-right: auto;
    margin-left: 44px;
  }
}