.u-section-1 .u-sheet-1 {
  min-height: 151px;
}

.u-section-1 .u-group-1 {
  min-height: 151px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-line-1 {
  height: 107px;
  left: auto;
  top: 19px;
  transform-origin: center top 0px;
  position: absolute;
  width: 6px;
  border-style: solid;
  right: 532px;
}

.u-section-1 .u-group-2 {
  width: 507px;
  min-height: 128px;
  margin: 8px auto 0 42px;
}

.u-section-1 .u-text-1 {
  margin: 0 0 0 83px;
}

.u-section-1 .u-image-1 {
  width: 74px;
  height: 74px;
  margin: -75px auto 0 0;
}

.u-section-1 .u-btn-1 {
  font-family: "Press Start 2P";
  letter-spacing: 2px;
  background-image: none;
  border-style: none;
  font-size: 0.75rem;
  margin: 10px auto 0 0;
}

.u-section-1 .u-btn-2 {
  font-family: "Press Start 2P";
  letter-spacing: 2px;
  background-image: none;
  border-style: none;
  font-size: 0.75rem;
  margin: -39px 0 0 auto;
}

.u-section-1 .u-group-3 {
  width: 437px;
  min-height: 127px;
  margin: -129px 42px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding-bottom: 21px;
  padding-top: 0;
}

.u-section-1 .u-text-2 {
  margin: 0 0 0 68px;
}

.u-section-1 .u-image-2 {
  width: 58px;
  height: 74px;
  margin: -74px auto 0 0;
}

.u-section-1 .u-btn-3 {
  font-family: "Press Start 2P";
  letter-spacing: 2px;
  background-image: none;
  border-style: none;
  font-size: 0.75rem;
  margin: 9px auto 0 0;
}

.u-section-1 .u-btn-4 {
  font-family: "Press Start 2P";
  letter-spacing: 2px;
  font-size: 0.75rem;
  border-style: none;
  background-image: none;
  margin: -39px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-1 .u-group-1 {
    min-height: 250px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-line-1 {
    top: 120px;
    transform-origin: left center 0px;
    width: 863px;
    height: 5px;
  }

  .u-section-1 .u-group-2 {
    width: 900px;
    min-height: 88px;
    margin-top: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 8px;
    margin-right: 318px;
    margin-left: 82px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -82px;
    margin-right: 112px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 10px;
    margin-bottom: -13px;
  }

  .u-section-1 .u-group-3 {
    width: 900px;
    min-height: 109px;
    margin-top: 49px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: 310px;
    margin-left: 81px;
  }

  .u-section-1 .u-image-2 {
    height: 73px;
    margin-top: -62px;
    margin-left: 10px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -80px;
    margin-right: 138px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 11px;
    margin-right: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-1 .u-group-1 {
    min-height: 251px;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-line-1 {
    top: 121px;
    width: 678px;
  }

  .u-section-1 .u-group-2 {
    width: 685px;
    min-height: 100px;
    margin-top: 11px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-right: 298px;
    margin-left: 100px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -87px;
    margin-left: 13px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -80px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 9px;
    margin-bottom: 0;
  }

  .u-section-1 .u-group-3 {
    width: 685px;
    margin-top: 25px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 5px;
    margin-right: 294px;
    margin-left: 98px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -92px;
    margin-left: 23px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -75px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 9px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-1 .u-group-1 {
    min-height: 327px;
    margin-bottom: 0;
  }

  .u-section-1 .u-line-1 {
    top: 160px;
    width: 469px;
  }

  .u-section-1 .u-group-2 {
    min-height: 139px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 12px;
    margin-right: 13px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -74px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 12px;
    margin-right: auto;
    margin-left: 13px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -39px;
    margin-right: 13px;
  }

  .u-section-1 .u-group-3 {
    min-height: 126px;
    margin-top: 47px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-right: 13px;
    margin-left: 94px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -75px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 14px;
    margin-right: auto;
    margin-left: 15px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -39px;
    margin-right: 56px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-1 .u-group-1 {
    min-height: 542px;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .u-section-1 .u-line-1 {
    top: 272px;
    width: 294px;
  }

  .u-section-1 .u-group-2 {
    min-height: 391px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: 100px;
    margin-left: 13px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -187px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -56px;
    margin-right: 54px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 144px;
    margin-right: 19px;
  }

  .u-section-1 .u-group-3 {
    min-height: 173px;
    margin-top: -25px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -175px;
    margin-left: 28px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -56px;
    margin-right: 83px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 132px;
    margin-right: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 10px;
}.u-section-3 .u-sheet-1 {
  min-height: 158px;
}

.u-section-3 .u-group-1 {
  width: 161px;
  min-height: 34px;
  margin: 10px auto 0 459px;
}

.u-section-3 .u-image-1 {
  width: 46px;
  height: 34px;
  filter: brightness(0.45);
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  font-family: "Press Start 2P";
  margin: -27px 0 0 auto;
}

.u-section-3 .u-group-2 {
  width: 548px;
  min-height: 104px;
  margin: 0 auto 0 10px;
}

.u-section-3 .u-image-2 {
  width: 68px;
  height: 68px;
  margin: 4px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-family: "Press Start 2P";
  font-size: 1.25rem;
  margin: -73px auto 0 78px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-family: Montserrat;
  font-size: 0.875rem;
  margin: 0 20px 0 78px;
}

.u-section-3 .u-group-3 {
  width: 548px;
  min-height: 104px;
  margin: -104px 10px 10px auto;
}

.u-section-3 .u-image-3 {
  width: 68px;
  height: 68px;
  margin: 4px auto 0 0;
}

.u-section-3 .u-text-4 {
  font-family: "Press Start 2P";
  font-size: 1.25rem;
  margin: -73px auto 0 78px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-family: Montserrat;
  font-size: 0.875rem;
  margin: 0 20px 0 78px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 173px;
  }

  .u-section-3 .u-group-1 {
    margin-left: 360px;
  }

  .u-section-3 .u-group-2 {
    width: 442px;
  }

  .u-section-3 .u-group-3 {
    width: 443px;
    min-height: 119px;
    margin-right: 27px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-3 .u-group-1 {
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-3 .u-group-2 {
    width: 338px;
    min-height: 141px;
    margin-top: 10px;
    margin-left: 22px;
  }

  .u-section-3 .u-group-3 {
    width: 338px;
    min-height: 195px;
    margin-top: -141px;
    margin-right: 22px;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-3 .u-group-2 {
    width: 520px;
    min-height: 97px;
    margin-left: auto;
  }

  .u-section-3 .u-group-3 {
    width: 520px;
    min-height: 120px;
    margin-top: 7px;
    margin-right: auto;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-right: 96px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-3 .u-group-1 {
    margin-right: auto;
  }

  .u-section-3 .u-group-2 {
    min-height: 119px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-group-3 {
    min-height: 195px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 10px;
}.u-section-5 .u-sheet-1 {
  min-height: 275px;
}

.u-section-5 .u-group-1 {
  width: 202px;
  min-height: 36px;
  margin: 10px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-1 {
  font-family: "Press Start 2P";
  margin: 7px 20px 0 auto;
}

.u-section-5 .u-image-1 {
  width: 34px;
  height: 34px;
  filter: brightness(0.45);
  margin: -30px auto 0 0;
}

.u-section-5 .u-group-2 {
  width: 548px;
  min-height: 129px;
  margin: 10px auto 0 10px;
}

.u-section-5 .u-image-2 {
  width: 68px;
  height: 68px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  font-family: "Press Start 2P";
  font-size: 1.25rem;
  margin: -69px auto 0 78px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-3 {
  font-family: Montserrat;
  font-size: 0.875rem;
  margin: 0 20px 0 78px;
}

.u-section-5 .u-group-3 {
  width: 548px;
  min-height: 120px;
  margin: -129px 10px 0 auto;
}

.u-section-5 .u-image-3 {
  width: 68px;
  height: 68px;
  margin: 4px auto 0 0;
}

.u-section-5 .u-text-4 {
  font-family: "Press Start 2P";
  font-size: 1.25rem;
  margin: -73px auto 0 78px;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-5 {
  font-family: Montserrat;
  font-size: 0.875rem;
  margin: 0 10px 0 78px;
}

.u-section-5 .u-group-4 {
  width: 830px;
  min-height: 70px;
  margin: 19px auto 10px 48px;
}

.u-section-5 .u-text-6 {
  font-family: "Press Start 2P";
  margin: 10px 232px 0 0;
}

.u-section-5 .u-image-4 {
  width: 68px;
  height: 68px;
  margin: -60px 116px 0 auto;
}

.u-section-5 .u-image-5 {
  width: 68px;
  height: 68px;
  margin: -68px 28px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-5 .u-group-2 {
    width: 409px;
    min-height: 183px;
  }

  .u-section-5 .u-group-3 {
    width: 452px;
    min-height: 141px;
    margin-top: -179px;
    margin-right: 18px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
  }

  .u-section-5 .u-group-4 {
    margin-top: 64px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-5 .u-group-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 38px;
  }

  .u-section-5 .u-group-2 {
    width: 317px;
    min-height: 237px;
    margin-top: 11px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-right: 4px;
  }

  .u-section-5 .u-group-3 {
    width: 336px;
    min-height: 217px;
    margin-top: -237px;
    margin-right: 24px;
  }

  .u-section-5 .u-image-3 {
    margin-top: 0;
  }

  .u-section-5 .u-text-4 {
    margin-top: -69px;
  }

  .u-section-5 .u-group-4 {
    margin-top: 24px;
    margin-bottom: 11px;
    min-height: 85px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-right: 231px;
    margin-left: 42px;
  }

  .u-section-5 .u-image-4 {
    margin-top: -71px;
    margin-right: 130px;
  }

  .u-section-5 .u-image-5 {
    margin-right: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-5 .u-group-1 {
    width: 185px;
    margin-top: 0;
    margin-right: 21px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-group-2 {
    width: 520px;
    min-height: 129px;
    margin-left: auto;
  }

  .u-section-5 .u-group-3 {
    width: 520px;
    min-height: 119px;
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }

  .u-section-5 .u-group-4 {
    min-height: 101px;
    width: 498px;
    margin: 14px auto 0;
  }

  .u-section-5 .u-text-6 {
    margin-top: 0;
    margin-right: 144px;
    margin-left: 0;
  }

  .u-section-5 .u-image-4 {
    margin-top: -84px;
    margin-right: 82px;
  }

  .u-section-5 .u-image-5 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-5 .u-group-1 {
    margin-right: auto;
  }

  .u-section-5 .u-group-2 {
    width: 340px;
    min-height: 237px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 33px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-group-3 {
    width: 340px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 10px;
  }

  .u-section-5 .u-group-4 {
    margin-top: 28px;
    margin-bottom: 10px;
    min-height: 192px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }

  .u-section-5 .u-image-4 {
    margin-top: 7px;
    margin-right: auto;
    margin-left: 88px;
  }

  .u-section-5 .u-image-5 {
    margin-right: 88px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 10px;
}.u-section-7 .u-sheet-1 {
  min-height: 109px;
}

.u-section-7 .u-group-1 {
  min-height: 109px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-1 {
  font-family: "Press Start 2P";
  font-size: 1.5rem;
  margin: 20px 852px 0 0;
}

.u-section-7 .u-group-2 {
  width: 178px;
  min-height: 38px;
  margin: -38px auto 0 340px;
}

.u-section-7 .u-image-1 {
  width: 34px;
  height: 34px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.5rem;
  margin: -34px 4px 0 44px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-group-3 {
  width: 138px;
  min-height: 38px;
  margin: -38px 403px 0 auto;
}

.u-section-7 .u-image-2 {
  width: 34px;
  height: 34px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.5rem;
  margin: -34px 1px 0 44px;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-group-4 {
  width: 168px;
  min-height: 38px;
  margin: -38px 187px 0 auto;
}

.u-section-7 .u-container-layout-4 {
  padding-bottom: 0;
}

.u-section-7 .u-image-3 {
  width: 34px;
  height: 34px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-4 {
  font-size: 1.5rem;
  margin: -34px 10px 0 44px;
}

.u-section-7 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-group-5 {
  width: 135px;
  min-height: 38px;
  margin: -38px 20px 0 auto;
}

.u-section-7 .u-container-layout-5 {
  padding-bottom: 0;
}

.u-section-7 .u-image-4 {
  width: 34px;
  height: 34px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-5 {
  font-size: 1.5rem;
  margin: -34px 5px 0 44px;
}

.u-section-7 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-text-6 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 5px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 155px;
  }

  .u-section-7 .u-group-1 {
    min-height: 156px;
    height: auto;
  }

  .u-section-7 .u-text-1 {
    width: 248px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-group-2 {
    margin-top: 58px;
    margin-left: 38px;
  }

  .u-section-7 .u-group-3 {
    margin-top: -37px;
    margin-right: auto;
    margin-left: 282px;
  }

  .u-section-7 .u-group-4 {
    margin-right: 242px;
  }

  .u-section-7 .u-group-5 {
    margin-right: 37px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-top: -103px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-7 .u-group-1 {
    min-height: 206px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-group-2 {
    margin-top: 68px;
    margin-left: 137px;
  }

  .u-section-7 .u-group-3 {
    margin-top: 5px;
    margin-left: 136px;
  }

  .u-section-7 .u-group-4 {
    margin-top: -81px;
    margin-right: 149px;
  }

  .u-section-7 .u-group-5 {
    margin-top: 4px;
    margin-right: 183px;
  }

  .u-section-7 .u-text-6 {
    margin-top: -148px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-7 .u-group-1 {
    min-height: 233px;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-group-2 {
    margin-top: 95px;
    margin-left: 52px;
  }

  .u-section-7 .u-group-3 {
    margin-top: 4px;
    margin-left: 51px;
  }

  .u-section-7 .u-group-4 {
    margin-top: -79px;
    margin-right: 52px;
  }

  .u-section-7 .u-group-5 {
    margin-right: 86px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-text-6 {
    margin-top: -182px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 402px;
  }

  .u-section-7 .u-group-1 {
    min-height: 402px;
  }

  .u-section-7 .u-group-2 {
    margin-top: 166px;
    margin-left: auto;
  }

  .u-section-7 .u-group-3 {
    margin-top: 6px;
    margin-left: 73px;
  }

  .u-section-7 .u-group-4 {
    margin-top: 6px;
    margin-right: auto;
    margin-left: 72px;
  }

  .u-section-7 .u-group-5 {
    margin-top: 6px;
    margin-right: auto;
    margin-left: 72px;
  }

  .u-section-7 .u-text-6 {
    margin-top: -336px;
    margin-left: 11px;
    margin-right: 11px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 10px;
}.u-section-9 .u-sheet-1 {
  min-height: 142px;
}

.u-section-9 .u-group-1 {
  min-height: 142px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-9 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-9 .u-group-2 {
  width: 731px;
  min-height: 98px;
  margin: 22px auto 0 0;
}

.u-section-9 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-text-1 {
  font-family: "Press Start 2P";
  font-size: 1.5rem;
  margin: 1px auto 0;
}

.u-section-9 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -6px 0 0;
}

.u-section-9 .u-group-3 {
  width: 331px;
  min-height: 116px;
  margin: -107px 0 0 auto;
}

.u-section-9 .u-image-1 {
  width: 81px;
  height: 81px;
  margin: 0 auto 0 7px;
}

.u-section-9 .u-image-2 {
  width: 80px;
  height: 84px;
  margin: -78px auto 0;
}

.u-section-9 .u-image-3 {
  width: 94px;
  height: 88px;
  margin: -87px 7px 0 auto;
}

.u-section-9 .u-text-3 {
  font-weight: 400;
  margin: 1px auto 0 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  font-family: "Press Start 2P";
  padding: 0;
}

.u-section-9 .u-btn-2 {
  background-image: none;
  font-family: "Press Start 2P";
  margin: -26px auto 0;
  padding: 0;
}

.u-section-9 .u-btn-3 {
  background-image: none;
  font-family: "Press Start 2P";
  margin: -26px 11px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 154px;
  }

  .u-section-9 .u-group-1 {
    margin-bottom: -1px;
    min-height: 154px;
    height: auto;
  }

  .u-section-9 .u-group-2 {
    width: 505px;
    min-height: 130px;
    margin-top: 12px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
  }

  .u-section-9 .u-group-3 {
    margin-top: -123px;
    margin-right: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-9 .u-group-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    min-height: 252px;
  }

  .u-section-9 .u-container-layout-1 {
    padding: 0 0 15px;
  }

  .u-section-9 .u-group-2 {
    width: 700px;
    min-height: 97px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-9 .u-group-3 {
    margin-top: 12px;
    margin-right: 179px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-9 .u-group-1 {
    margin-top: 0;
    margin-bottom: -1px;
    min-height: 269px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-bottom: 9px;
  }

  .u-section-9 .u-group-2 {
    min-height: 129px;
    margin-top: 11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-9 .u-group-3 {
    margin-top: 2px;
    margin-right: 95px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-9 .u-group-1 {
    min-height: 335px;
  }

  .u-section-9 .u-group-3 {
    margin-top: 5px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 10px;
}