.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-video-1 {
  width: 570px;
  height: 321px;
  animation-duration: 1000ms;
  margin: 77px auto 60px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 191px;
  }
}