div#container
{
   width: 1200px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #000000;
   background-image: url('images/city2.png');
   background-attachment: fixed;
   background-position: left top;
   background-repeat: repeat-x;
   color: #FFFFFF;
   font-family: Verdana;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #FFFFFF;
   text-decoration: underline;
}
a:visited
{
   color: #FF0000;
}
a:active
{
   color: #32CD32;
}
a:hover
{
   color: #FF4500;
   text-decoration: underline;
}
#wb_menu_Image1
{
   vertical-align: top;
}
#menu_Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 4px 4px 4px 4px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_menu_Image2
{
   vertical-align: top;
}
#menu_Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 4px 4px 4px 4px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_menu_Image3
{
   vertical-align: top;
}
#menu_Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 4px 4px 4px 4px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_menu_Image4
{
   vertical-align: top;
}
#menu_Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 4px 4px 4px 4px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer1
{
   background-color: rgba(0,0,0,0.47);
   background-image: none;
   border: 5px solid #000080;
   border-radius: 5px;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer2
{
   background-color: rgba(0,0,0,0.47);
   background-image: none;
   border: 5px solid #000080;
   border-radius: 5px;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image1
{
   position: absolute;
   left: 48px;
   top: 27px;
   width: 194px;
   height: 194px;
   z-index: 4;
}
#wb_Image2
{
   position: absolute;
   left: 48px;
   top: 27px;
   width: 194px;
   height: 194px;
   z-index: 5;
}
#wb_EmbeddedPage1
{
   position: absolute;
   left: 2px;
   top: 0px;
   width: 959px;
   height: 46px;
   z-index: 6;
}
#Layer1
{
   position: absolute;
   text-align: left;
   left: 95px;
   top: 46px;
   width: 1000px;
   height: 434px;
   z-index: 7;
}
#Layer2
{
   position: absolute;
   text-align: left;
   left: 103px;
   top: 510px;
   width: 1000px;
   height: 434px;
   z-index: 8;
}
#wb_menu_Image4
{
   position: absolute;
   left: 242px;
   top: 0px;
   width: 169px;
   height: 38px;
   z-index: 3;
}
#wb_menu_Image3
{
   position: absolute;
   left: 570px;
   top: 7px;
   width: 132px;
   height: 24px;
   z-index: 2;
}
#wb_menu_Image2
{
   position: absolute;
   left: 430px;
   top: 7px;
   width: 132px;
   height: 24px;
   z-index: 1;
}
#wb_menu_Image1
{
   position: absolute;
   left: 710px;
   top: 7px;
   width: 241px;
   height: 24px;
   z-index: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1199px)
{
div#container
{
   width: 768px;
}
body
{
   background-color: #000000;
   background-image: url('images/city2.png');
   background-attachment: fixed;
   background-position: left top;
   background-repeat: repeat-x;
}
#wb_EmbeddedPage1
{
   left: 0px;
   top: 0px;
   width: 743px;
   height: 46px;
   visibility: visible;
   display: inline;
}
#wb_menu_Image1
{
   left: 494px;
   top: 7px;
   width: 241px;
   height: 24px;
   visibility: visible;
   display: inline;
   margin: 4px 4px 4px 4px;
   padding: 0;
}
#wb_menu_Image2
{
   left: 214px;
   top: 7px;
   width: 132px;
   height: 24px;
   visibility: visible;
   display: inline;
   margin: 4px 4px 4px 4px;
   padding: 0;
}
#wb_menu_Image3
{
   left: 354px;
   top: 7px;
   width: 132px;
   height: 24px;
   visibility: visible;
   display: inline;
   margin: 4px 4px 4px 4px;
   padding: 0;
}
#wb_menu_Image4
{
   left: 26px;
   top: 0px;
   width: 169px;
   height: 38px;
   visibility: visible;
   display: inline;
   margin: 4px 4px 4px 4px;
   padding: 0;
}
#Layer1
{
   left: 4px;
   top: 46px;
   width: 750px;
   height: 265px;
   visibility: visible;
   display: block;
}
#wb_Image1
{
   left: 48px;
   top: 27px;
   width: 194px;
   height: 194px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#Layer2
{
   left: 4px;
   top: 333px;
   width: 750px;
   height: 434px;
   visibility: visible;
   display: block;
}
#wb_Image2
{
   left: 48px;
   top: 27px;
   width: 194px;
   height: 194px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
}
@media only screen and (max-width: 767px)
{
div#container
{
   width: 320px;
}
body
{
   background-color: #000000;
   background-image: url('images/city2.png');
   background-attachment: fixed;
   background-position: left top;
   background-repeat: repeat-x;
}
#wb_EmbeddedPage1
{
   left: 0px;
   top: 0px;
   width: 300px;
   height: 110px;
   visibility: visible;
   display: inline;
}
#wb_menu_Image1
{
   left: 36px;
   top: 78px;
   width: 241px;
   height: 24px;
   visibility: visible;
   display: inline;
   margin: 4px 4px 4px 4px;
   padding: 0;
}
#wb_menu_Image2
{
   left: 20px;
   top: 46px;
   width: 132px;
   height: 24px;
   visibility: visible;
   display: inline;
   margin: 4px 4px 4px 4px;
   padding: 0;
}
#wb_menu_Image3
{
   left: 160px;
   top: 46px;
   width: 132px;
   height: 24px;
   visibility: visible;
   display: inline;
   margin: 4px 4px 4px 4px;
   padding: 0;
}
#wb_menu_Image4
{
   left: 72px;
   top: 0px;
   width: 169px;
   height: 38px;
   visibility: visible;
   display: inline;
   margin: 4px 4px 4px 4px;
   padding: 0;
}
#Layer1
{
   left: 0px;
   top: 127px;
   width: 310px;
   height: 379px;
   visibility: visible;
   display: block;
}
#wb_Image1
{
   left: 48px;
   top: 27px;
   width: 194px;
   height: 194px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#Layer2
{
   left: 0px;
   top: 529px;
   width: 310px;
   height: 434px;
   visibility: visible;
   display: block;
}
#wb_Image2
{
   left: 48px;
   top: 27px;
   width: 194px;
   height: 194px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
}
