div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #000000;
   background-image: url(images/city.png);
   background-attachment: fixed;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   color: #000000;
   font-family: "Lucida Sans Unicode";
   font-weight: normal;
   font-size: 19px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#wb_LayoutGrid1
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#Article1dfsg
{
   background-color: transparent;
   border: 1px solid #000000;
   font-family: "Lucida Sans Unicode";
   font-weight: normal;
   font-size: 19px;
   line-height: 1.2;
   margin: 0;
   text-align: left;
   display: inline-block;
   position: relative;
   width: 100%;
}
#Article1dfsg .blogitem
{
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Article1dfsg .blogdate
{
   font-family: "Lucida Sans Unicode";
   font-weight: bold;
   font-size: 19px;
   color: #000000;
}
#Article1dfsg .blogsubject, #Article1dfsg .blogsubject a:link, #Article1dfsg .blogsubject a:visited, #Article1dfsg .blogsubject a:hover
{
   font-family: "Lucida Sans Unicode";
   font-weight: bold;
   font-size: 19px;
   color: #666666;
   text-decoration: none;
}
#Article1dfsg .blogcomments, #Article1dfsg .blogcomments a:link, #Article1dfsg .blogcomments a:visited, #Article1dfsg .blogcomments a:hover
{
   font-family: "Lucida Sans Unicode";
   font-weight: normal;
   font-size: 19px;
   color: #000000;
   text-decoration: underline;
}
#Article1dfsg .blogcomments
{
   text-decoration: none;
}
#Article1dfsg .no-thumb
{
   display: none;
}
#Article1dfsg .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article1dfsg .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article1dfsg .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
}
#Article1dfsg .blogdate, #Article1dfsg .blogcomments
{
   display: none;
}
#Article1dfsg
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   font-family: "Lucida Sans Unicode";
   font-weight: normal;
   margin: 0;
}
#wb_LayoutGrid13redfsg
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(0,0,0,0.49);
   background-image: none;
   border: 10px solid #FA8072;
   box-sizing: border-box;
   margin: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1000px;
}
#LayoutGrid13redfsg
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 10px 0px 10px 0px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid13redfsg > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 20px;
   padding-left: 20px;
   position: relative;
}
#LayoutGrid13redfsg > .col-1
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#LayoutGrid13redfsg > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 100%;
   max-width: 100%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 768px)
{
#LayoutGrid13redfsg > .col-1
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#YouTube1aser345
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border-width: 0;
}
#wb_YouTube1aser345
{
   display: block;
   position: relative;
   margin: 10px 50px 10px 50px;
   height: 0;
   overflow: hidden;
   box-sizing: border-box;
   padding-bottom: 56.25%;
   padding-left: 0;
   padding-right: 0;
   padding-top: 0;
}
