.u-section-1 .u-sheet-1 {
  min-height: 10px;
}.u-section-2 .u-sheet-1 {
  min-height: 275px;
}

.u-section-2 .u-group-1 {
  width: 202px;
  min-height: 36px;
  margin: 10px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  font-family: "Press Start 2P";
  margin: 7px 20px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 34px;
  height: 34px;
  filter: brightness(0.45);
  margin: -30px auto 0 0;
}

.u-section-2 .u-group-2 {
  width: 548px;
  min-height: 129px;
  margin: 10px auto 0 10px;
}

.u-section-2 .u-image-2 {
  width: 68px;
  height: 68px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-family: "Press Start 2P";
  font-size: 1.25rem;
  margin: -69px auto 0 78px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-family: Montserrat;
  font-size: 0.875rem;
  margin: 0 20px 0 78px;
}

.u-section-2 .u-group-3 {
  width: 548px;
  min-height: 120px;
  margin: -129px 10px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 68px;
  height: 68px;
  margin: 4px auto 0 0;
}

.u-section-2 .u-text-4 {
  font-family: "Press Start 2P";
  font-size: 1.25rem;
  margin: -73px auto 0 78px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-family: Montserrat;
  font-size: 0.875rem;
  margin: 0 10px 0 78px;
}

.u-section-2 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: 30px auto 0;
}

.u-section-2 .u-image-4 {
  width: 570px;
  height: 285px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-2 {
    width: 409px;
    min-height: 183px;
  }

  .u-section-2 .u-group-3 {
    width: 452px;
    min-height: 141px;
    margin-top: -179px;
    margin-right: 18px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 38px;
  }

  .u-section-2 .u-group-2 {
    width: 317px;
    min-height: 237px;
    margin-top: 11px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 4px;
  }

  .u-section-2 .u-group-3 {
    width: 336px;
    min-height: 217px;
    margin-top: -237px;
    margin-right: 24px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: -69px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-2 .u-group-1 {
    width: 185px;
    margin-top: 6px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-group-2 {
    width: 520px;
    min-height: 129px;
    margin-top: 5px;
    margin-left: auto;
  }

  .u-section-2 .u-group-3 {
    width: 520px;
    min-height: 119px;
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    width: 540px;
    height: 270px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 9px;
    margin-right: auto;
  }

  .u-section-2 .u-group-2 {
    min-height: 237px;
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 33px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-group-3 {
    min-height: 217px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-5 {
    margin-right: 10px;
  }

  .u-section-2 .u-image-4 {
    width: 340px;
    height: 170px;
  }
}