#erik
{
   text-align: center;
}
body
{
   background-color: #FFFFFF;
   background-image: url(images/city.png);
   background-attachment: fixed;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}
#Marquee1
{
   background-color: #EEEEEE;
   background-image: none;
   border: 1px solid #C0C0C0;
   text-align: center;
   margin: 0;
}
#Marquee1
{
   display: block;
   float: left;
   width: 100%;
   height: 66px;
   vertical-align: top;
}
